@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400&display=swap');

body {
    font-family: 'Lato', sans-serif;
}

.container {
    height: 100%;
    text-align: center;
}

.ligne-haut {
    height: 10%;
}

.ligne-milieu {
    height: 45%;
}

.ligne-bas {
    height: 45%;
}

div .btn, .current {
    font-size: 1.5vw;
}

.joueur {
    font-size: 3vw;
    font-weight: lighter;
}

.score-total {
    font-size: 5vw;
    font-weight: lighter;
}

ion-icon, .score-total {
    color: rgb(255,67,67);
}

.div-current {
    background-color: rgb(255,67,67);
    font-weight: lighter;
    width: 40px;
}

.score-temporaire {
    color: white;
    font-size: 3vw;
}
