@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400&display=swap');

body {
    font-family: 'Lato', sans-serif;
}

.container {
    height: 100%;
    text-align: center;
}

.ligne-haut {
    height: 10%;
}

.ligne-milieu {
    height: 45%;
}

.ligne-bas {
    height: 45%;
}